@foreach(var trail in ViewBag.SingleTrail)
{
    <h1>@trail.Name</h1>
    <div id="trail_div">
        <h2>Description</h2>
        <p>@trail.Description</p>
        <h2>Trail Length</h2>
        <p>@trail.Length miles</p>
        <h2>Elevation Change</h2>
        <p>@trail.Elevation feet</p>
        @if(@trail.Longitude > 0)
        {
            <h3>Longitude: @trail.Longitude &deg; E</h3>
        }
        @if(@trail.Longitude < 0)
        {
            <h3>Longitude: @trail.Longitude &deg; W</h3>
        }
        @if(@trail.Longitude == 0)
        {
            <h3>Longitude: @trail.Longitude &deg; Prime Meridian</h3>
        }
        @if(@trail.Latitude > 0)
        {
            <h3>Latitude: @trail.Latitude &deg; N</h3>
        }
        @if(@trail.Latitude < 0)
        {
            <h3>Latitude: @trail.Latitude &deg; S</h3>
        }
        @if(@trail.Latitude == 0)
        {
            <h3>Latitude: @trail.Latitude &deg; Prime Meridian</h3>
        }
    </div>
    <a href="/">Return Home</a>
}